* {
  padding: 0;
  margin: 0;
  font-family: "Poppins" , sans-serif  ;
  
}

body {
 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../src/assets/imagens/background.webp") no-repeat ;
  background-size: cover;  
  }

  @media (max-width: 767px) {
    body { 
      background: url("../src/assets/imagens/background-mobile.webp") no-repeat ;      
      overflow-y: hidden; 
      }
  }